.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  padding: 0 5%;
  background-color: #333;
  color: #f4f4f4;
}

.header-form {
  display: flex;
}

.header-input {
  border: 1px solid rgb(221, 221, 221);
  padding: 5px 10px;
  font-size: 1em;
  background: #f4f4f4;
}

.header-button {
  border: 0;
  background: transparent;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: aquamarine;
  padding: 0 10px;
  font-weight: 600;
  color: #333;
}

.main-container {
  display: flex;
  width: 100%;
  height: calc(100vh - 80px);
}

.sidebar {
  width: 300px;
  height: 100%;
  border-right: 1px solid rgb(221, 221, 221);
  overflow-y: scroll;
}

.main {
  width: 100%;
  height: 100%;
}