.videos-container {
  margin: 0 auto;
  width: calc(100% - 200px);
  overflow-y: scroll;
}

.videos-list {
  width: 100%;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.videos-item {
  cursor: pointer;
  width: calc(100% / 5);
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.videos-item img {
  display: block;
  max-width: 100%;
  height: auto;
}

@media screen and (max-width: 320px) {
  .videos-item {
    width: 100%;
  }
}
